<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>found</h3>
      <% foundObjects.forEach(function(foundObject) { %>

          <form method="POST" action="/found-objects/<%= foundObject._id %>?_method=DELETE">
            <!-- <a href="/found-objects/<%= foundObject._id %>"> -->
            <p>  <%= foundObject.title %> </p>
            <p>  location: <%= foundObject.location %> </p>
            <p>  about:  <%= foundObject.about %> </p>
            <p> <%= foundObject.date %> </p>
            <!-- <p> <%= foundObject.createdAt %> </p> -->


            <!-- <div class="container-fluid" id="map"></div> -->
            <a href="/found-objects/<%= foundObject._id %>/edit" class="waves-effect waves-light btn light-green lighten-2">Edit</a>
            <button type="submit" class="waves-effect waves-light btn light-green lighten-2">Delete</button>
          </form>

      <% }) %>
    </div>
    <a href="/found-objects/new" class="waves-effect waves-light btn light-green lighten-2">New</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
